<div>
  <h1 class="page-header">Project {{ jobName }}</h1>
  <h2 class="sub-header">History</h2>
  <div class="table-responsive" ng-controller="JobDetailController">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Build started</th>
          <th>Duration</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="build in builds" class="job-state-{{ build.state }}">
          <td><a ng-href="#/jobs/{{ jobName }}/{{ build.id }}">{{ build.id }}</a></td>
          <td>{{ build.start_time|date:"yyyy-MM-dd HH:mm:ss" }}</td>
          <td>{{ (job.last_build.end_time - job.last_build.start_time)|duration:"millisecond":"year"  }}</td>
          <td>{{ build.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

